#carserneContaineur {
    height: calc(100vh - 76px);
}

.btn-primary:nth-child(1) {
    background-color: #1F3C47;
    border-color: #1F3C47;
}

.btn-primary:nth-child(1):hover, .btn-primary:nth-child(1):active, .btn-primary:nth-child(1):focus {
    background-color: #959DB9;
    border-color: #959DB9;
}

.btn-primary { 
    background-color: #959DB9;
    border-color: #959DB9;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #1F3C47;
    border-color: #1F3C47;
}

.containCasernes {
    overflow-y: auto;
    scrollbar-width: none;
}

.oneCaserne { margin-top: 20px; }

.titleCaserne {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items:baseline;
}

.textCaserne {
    flex: 2;
    padding-right: 10px;
    text-align: right;
    font-size: 24px;
    font-weight: 800;
}

.blueLine {
    flex: 8;
    background: #959DB9;
    height: 5px;
    border-radius: 20px 0 0 20px;
}

.btnTitle {
    font-size: 10px;
    margin-top: -15px;
}

.containCamions {
    width: 100%;
    overflow-x: auto;
    display: flex;
    scrollbar-width: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.myCamion {
    height: 150px;
    width: 150px;
    background-color: #1F3C47;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-family: "Montserrat";
    margin-left: 15px;
    margin-right: 15px;
}

.titreCamion {
    font-weight: 800;
    text-align: center;
    margin-bottom: 5px;
}

.capaciteCamion { 
    display: flex;
    margin-bottom: 10px;
}
.essenceCamion, .eauCamion { flex: 1; }
.eauCamion { text-align: right; }

.equipeCamion {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.equipeCamion img {
    width: 60px !important;
}

#centerLoader {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 47%;
}