/** Tests fonts ***/
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@200&display=swap');
/*** bloc front **/


body {
    overflow: hidden;
}

#bloc_connexion {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 32px );
    -webkit-backdrop-filter: blur( 32px );
    border-radius: 10px;
    width: calc(50% - 40px);
    max-height: 90vh;
    padding: 10px 20px;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

#bloc_connexion h1 {
    /*font-family: 'Hammersmith One', sans-serif;*/
    /*font-family: 'Archivo Black', sans-serif;*/
    /*font-family: 'Fjalla One', sans-serif;*/
    font-family: 'Kantumruy Pro', sans-serif;
    text-align: center;
    letter-spacing: 1.5px;
    color: #00336B;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

input {
    width: calc(100% - 1.5rem);
    font-weight: 400;
    border: 1px solid #ced4da;
    background: rgba(255, 255, 255, 0.5);
    color: #212529;
    padding: .375rem .75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: Calibri;
    margin-bottom: 1.5rem;
}

input:nth-child(1) {
    grid-column: 1/11;
    grid-row: 1;
}

input:nth-child(2) {
    grid-column: 1/10;
    grid-row: 5;
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem;
}

.modifPass {
    margin-top: 15px;
}

.modifPass input, .modifPass input {
    
    vertical-align: top;
    width: calc(100% - 26px) !important;
    float: left;
}

#eye, #eye2 {
    border: 0;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: none;
    grid-column: 10;
    grid-row: 5;
    height: 32.7px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
}

#eye2 {
    grid-row: 6;
}

.lien-register {
    text-align: center; 
    grid-column: 1/11; 
    grid-row: 8; 
    font-size: 1rem; 
    font-family: Calibri; 
    margin-top: 10px;
    text-decoration: none;
    color: #00336B;
    transition: 0.5s all;
}

/** Bouton submit **/

.submit-button {
    border: none;
    background-color: rgba(245, 245, 245, 0.5);
    background-image: linear-gradient(to bottom left, white, rgba(255,255,255,0));
    font-size: 1.2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Kantumruy Pro', sans-serif;
    padding: 10px 20px;
    border-radius: 0.25rem;
    transition: all 10s ease-out;
    grid-column: 1/11;
    grid-row: 7;
}

.submit-button:hover {
    transition: all 10s ease-out;
    color: white;
    background-color: #959DB9;
    background-image: linear-gradient(to bottom left, #959DB9, #1F3C47);
}

/*** Wave back ***/

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #1F3C47;
  }
  
  .wave {
    background: url(../img/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    background: url(../img/wave.svg) repeat-x;
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes swell {
    0%,
      100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
  .endWave{
      display:none;
  }