@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat';
    scrollbar-width: none;
}

.navbar {
    background-color: #1F3C47;
    font-family: 'Montserrat';
    position: sticky;
    top: 0;
}

.navbar a {
    color: white;
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.navbar-brand {
    margin-left: 20px;
}

.nav-item {
    border: 1px solid #959DB9;
    margin-right: 20px;
    padding: 3px 10px;
    border-radius: 20px;
    transition: 0.3s all;
}

.nav-link { padding: 0px; }
.nav-item:hover, .nav-item a:hover, .nav-link:hover, .nav-link a:hover { color: #fff; }
.nav-item:hover { background-color: #959DB9; }